parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Admin/AnalyticsController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$vj_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/EpisodeController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 2
			path: app/Http/Controllers/Admin/PaymentController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\:\:active\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Admin/PlanController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 3
			path: app/Http/Controllers/Admin/PlanController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$stage_name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/SeriesController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 2
			path: app/Http/Controllers/Admin/SubscriptionController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/PaymentController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$episodes\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/SeriesController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\:\:active\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Http/Controllers/SubscriptionController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/SubscriptionController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\:\:published\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/VjController.php

		-
			message: '#^Access to an undefined property Illuminate\\Support\\HigherOrderCollectionProxy\<string, Illuminate\\Database\\Eloquent\\Model, Illuminate\\Database\\Eloquent\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\>\>\:\:\$watchable\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/WatchlistController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\:\:active\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Middleware/CheckSubscription.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$series\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Episode.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\:\:published\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Models/Movie.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:posterUrl\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/Season.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$duration_days\.$#'
			identifier: property.notFound
			count: 2
			path: app/Services/AbstractPaymentService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 3
			path: app/Services/AbstractPaymentService.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:subscriptions\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Services/AbstractPaymentService.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 3
			path: app/Services/AnalyticsService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$stage_name\.$#'
			identifier: property.notFound
			count: 7
			path: app/Services/ContentBasedRecommendationService.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\Movie\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 6
			path: app/Services/ContentBasedRecommendationService.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\Series\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Services/ContentBasedRecommendationService.php
