includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./phpstan-baseline.neon
parameters:
    paths:
        - app
        - bootstrap
        - config
        - routes
    level: 5
    inferPrivatePropertyTypeFromConstructor: true
    excludePaths:
        - routes/console.php
